
body {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
}

body > h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
 border: none;
}

.tack-functions {
  background: #c2c2c2;
}

.hidden-element {
  display: none;
}

.active {
  border: 1px solid red;
}



.page-number {
  border-radius: 100%;
}